body{
    margin:0;
    font-family:Segoe UI,Arial;
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
    text-align:center;
}

.container{
    padding:40px;
}

.pipeline{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:12px;
    margin:40px 0;
}

.card{
    padding:18px 25px;
    border-radius:12px;
    font-weight:bold;
    animation:float 4s ease-in-out infinite;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.github{background:#24292e;}
.azure{background:#0078d4;}
.acr{background:#2b88d8;}
.aws{background:#ff9900;color:black;}
.users{background:#00c853;}

.arrow{
    font-size:26px;
}

.features{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
    max-width:700px;
    margin:auto;
    font-size:18px;
}

@keyframes float{
    0%{transform:translateY(0px);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0px);}
}